<div class="groups-container">
    <div class="groups">
        <% @groups.each do |group| %>
        <div class="group">
            <div class="group-name">
                <%= group.icon %>
                <%= group.name %>
                </div>
                </div>
                <% end %>

</div>